[2019-02-13 05:44] sydt2014 opened #93 "pxf connect hive occur error"
when greenplum read hive data by pxf it occur:
 hive.metastore - set_ugi() not successful, Likely cause: new client talking to old server. Continuing without it. Other configuration is correct and hive version is 1.2.1 and pxf-hive is compiled by hive-1.2.1. However, it still report version error

[2019-02-18 10:46] vbortnyak opened #96 "PXF connection SQL Server error"
I get error:

SQL Error [XX000]: ERROR: remote component error (500) from '127.0.0.1:5888':  type  Exception report   message   com.microsoft.sqlserver.jdbc.SQLServerDriver    description   The server encountered an internal error that prevented it from fulfilling this request.    exception   java.io.IOException: com.microsoft.sqlserver.jdbc.SQLServerDriver (libchurl.c:944)  (seg0 slice1 127.0.1.1

[2019-02-18 15:00] frankgh commented on #96
@vbortnyak can you provide information from the logs. You should be able to find additional information under `$PXF_CONF/logs/catalina.out`, `$PXF_CONF/logs/localhost.2019-02-xx.log`, and `$PXF_CONF/logs/pxf-service.log`.

[2019-02-18 15:01] frankgh commented on #93
@sydt2014 what version of PXF are you using?

[2019-02-18 15:15] vbortnyak commented on #96
Yes, my catalina.out:

Feb 06, 2019 10:58:41 PM org.apache.coyote.AbstractProtocol init
INFO: Initializing ProtocolHandler ["http-bio-5888"]
Feb 06, 2019 10:58:41 PM org.apache.catalina.startup.Catalina load
INFO: Initialization processed in 286 ms
Feb 06, 2019 10:58:41 PM org.apache.catalina.core.StandardService startInternal
INFO: Starting service Catalina
Feb 06, 2019 10:58:41 PM org.apache.cat

[2019-02-18 15:40] frankgh commented on #96
It looks like you are missing the Microsoft JDBC Driver For SQL Server jar. You can download the appropriate version of the jar here: https://mvnrepository.com/artifact/com.microsoft.sqlserver/mssql-jdbc. Pick one of the versions of the jar, and download it. Then you need to place the jar in your `$PXF_CONF/lib` directory, and restart PXF.

[2019-02-19 06:48] vbortnyak commented on #96
I copied the 7.2.0.jre8 file to
/home/gpadmin/greenplum_db/pxf/lib/shared
and clearly indicated the path to it in the file:
$ GPHOME/pxf/conf/pxf-public.classpath
overloaded pxf
/home/gpadmin/greenplum_db/pxf/bin/pxf restart
but vseravno I get the same mistake.
I tried to do the above actions with the files:
7.2.0.jre8,
7.0.0.jre8,
mssql-jdbc-7.0.0.jre8.jar,
mssql-jdbc-7.2.0.jre8.jar,
mssql-jdbc-7

[2019-02-19 08:58] leskin-in commented on #96
@vbortnyak I faced a similar error in the past. Could you check that:
* JAR file is available for every instance of PXF (on every host where Greenplum segments run), and PXF process can read that JAR;
* Exactly one JAR file with required JDBC driver class is listed in `pxf-public.classpath` (required driver class should be loaded by PXF exactly once; e.g. multiple versions of driver cause errors,

[2019-02-19 09:08] vbortnyak commented on #96
I have a singlet greenglum.
and there is only one entry in my * pxf-public.classpath file:

/home/gpadmin/greenplum_db/pxf/lib/shared/mssql-jdbc-7.0.0.jre8.jar

but I still get the error.

[2019-02-19 15:25] frankgh commented on #96
@vbortnyak Using the latest version of PXF, I am able to run a query against mssql with this jar:

* `mssql-jdbc-7.2.0.jre8.jar`

Can you make sure only a single jar is in your shared folder?

[2019-02-19 15:28] frankgh commented on #96
Also, what version of Greenplum are you using?

[2019-02-19 15:37] vbortnyak commented on #96
I am using Greenplum 5.13.

I tried to use * mssql-jdbc-7.2.0.jre8.jar too, but the result is the same.
changed the file location to
/home/gpadmin/greenplum_db/pxf/lib/shared/MS/mssql-jdbc-7.2.0.jre8.jar
and pointed it to $ PXF_HOME / conf / pxf-public.classpath,
but still got an error.

[2019-02-19 15:50] frankgh commented on #96
In your log files (I think `catalina.out`), you should see the mssql jar being loaded. Mine logs something like this:
[code]

[2019-02-19 15:56] vbortnyak commented on #96
No, there is no such thing in my catalina.out

[2019-02-19 16:33] frankgh commented on #96
hmm, there is something going on with your classloader. Can you move it to `/tmp` and try it out?
Make sure you restart PXF after moving the jar
`mv /home/gpadmin/greenplum_db/pxf/lib/shared/MS/mssql-jdbc-7.2.0.jre8.jar /tmp`
then update `$PXF_HOME/conf/pxf-public.classpath` and make sure you have the following entry:
`/tmp/mssql-jdbc-7.2.0.jre8.jar'
Restart PXF.
Try the query again

[2019-02-20 08:12] vbortnyak commented on #96
I moved the file mssql-jdbc-7.2.0.jre8.jar to /tmp

mv /home/gpadmin/greenplum_db/pxf/lib/shared/MS/mssql-jdbc-7.2.0.jre8.jar /tmp

changed $PXF_HOME/conf/pxf-public.classpath and restarted PXF

gpadmin@ubuntu:/$ $PXF_HOME/bin/pxf restart

but unfortunately I have still this error and in catalina.out does't have record like your
INFO: Repository file:///Users/fguerrero/pxf/lib/mssql-jdbc-7.2.0.jre

[2019-02-20 16:14] frankgh commented on #96
Let me talk to the team and see if they can think of something else.

Just to clarify, the INFO message you expect in `catalina.out` would look something like:
[code]

Can you try grepping the PXF logs folder for that jar (i.e `grep -R "mssql-jdbc-7.2.0.jre8.jar" .`). Do you see any output from grep?

[2019-02-21 06:33] frankgh commented on #96
@vbortnyak I talked to the team. Let's do the following
1. `mv /home/gpadmin/greenplum_db/pxf/lib/shared/MS/mssql-jdbc-7.2.0.jre8.jar  /home/gpadmin/greenplum_db/pxf/lib/shared/mssql-jdbc-7.2.0.jre8.jar` jar should not be under MS
2. Restart PXF
3. Try the query again.

If that works, can you do the following:
Can you also check the following file `$GPHOME/pxf/conf/pxf-env-default.sh`.
Do you have

[2019-02-21 07:05] vbortnyak commented on #96
I used to use the path:
1. /home/gpadmin/greenplum_db/pxf/lib/shared/mssql-jdbc-7.2.0.jre8.jar
but still had an error.
now:

gpadmin@ubuntu:~$
gpadmin@ubuntu:~$ export PXF_CONF=/home/gpadmin/greenplum_db/pxf
gpadmin@ubuntu:~$ echo $PXF_CONF
/home/gpadmin/greenplum_db/pxf
gpadmin@ubuntu:~$
gpadmin@ubuntu:~$ ls $PXF_CONF/lib
mssql-jdbc-7.2.0.jre8.jar  pxf-hdfs-5.0.1.jar    pxf-jdbc-5.0.1.jar     pxf

[2019-02-21 14:05] timofreenet opened #97 "PXF External Table Hive 3.1 failed with java.io.IOException: Not a file"
### 5.17.0
### CentOS 7 3.10.0-862.11.6.el7.x86_64
### HDP 3.1 / Hive 3.1
Hive:
CREATE TABLE sales_info (location string, month string, number_of_orders int, total_sales double)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS textfile;

select * from sales_info;
+----------------------+-------------------+------------------------------+-------------------------+
| sales_info.location | sal

[2019-02-21 17:07] timofreenet commented on #97
The support of the currently used standard Hive versions provides a fundamentally necessary functionality.
The Hortonworks HDP 2.5 support will be discontinued mid-year and HDP 2.6 by the end of the year. Thus there is no support for Hive 1.x and Hive 2.x at the end of the year.
Therefore, the support of Hive 3.x within PXF should be prioritized accordingly.

[2019-02-22 05:03] frankgh commented on #96
@vbortnyak I suspect there might be an issue with your PXF configuration path. Is it the same as your PXF_HOME path?

Can you reinit PXF, using a different path for the PXF_CONF? Something like this:
[code]

Thanks you!

[2019-02-22 05:05] frankgh commented on #97
@timofreenet thanks for the feedback, we are in the process of exploring the upgrade to Hive 3.

[2019-02-22 07:42] vbortnyak commented on #96
gpadmin@ubuntu:~$ mv $PXF_CONF/lib/mssql-jdbc-7.2.0.jre8.jar ~/

gpadmin@ubuntu:~$

gpadmin@ubuntu:~$ $PXF_HOME/bin/pxf stop

Using CATALINA_BASE:   /home/gpadmin/greenplum_db/pxf/apache-tomcat
Using CATALINA_HOME:   /home/gpadmin/greenplum_db/pxf/apache-tomcat
Using CATALINA_TMPDIR: /home/gpadmin/greenplum_db/pxf/apache-tomcat/temp
Using JRE_HOME:        /usr/lib/jvm/java-1.8.0-openjdk-amd64
Usin

[2019-02-22 14:59] frankgh commented on #96
can you paste your latest `localhost.log`, `catalina.out` and `pxf-service.log`?

[2019-02-22 18:39] frankgh commented on #96
Another idea, can you try the latest version of Greenplum ? (Currently 5.17)

[2019-03-28 14:19] frankgh commented on #93
Fixed in version 5.1.1

[2019-03-28 14:19] #93 closed

[2019-03-28 14:19] frankgh commented on #96
We'll close the issue for now. Please feel free to reopen the issue if you still have issues.

[2019-03-28 14:19] #96 closed

[2019-04-03 09:56] clxy opened #127 "Can not read s3:sequence file"
Version: 5.1.6

We are trying to create an external table to read file on S3.
Here is the data schema class
[code]

and the file on S3 is
- sequence format
- compression type is BLOCK
- compression codec is gzip
- can access by Athena

and the sql of table is
[code]

This sql can create the table,
but query is not working on the table.
` select * from pxf_s3_ssp_url_domain_adult2 limit 10; `

Logs

[2019-04-03 14:31] frankgh commented on #127
@clxy Would you be able to share a small sample sequence file, with the same schema, to reproduce the issue on our end?

[2019-04-03 20:51] pivotalguru opened #129 "Add properties to JDBC Server configuration file"
Add DriverManager.getConnection properties to SERVER configuration file.  This is required to get good performance out of an Oracle connection where the property "defaultRowPrefetch" needs to be set to a higher value than the default of 10.  Usually 2000 is used for large data extracts that is used by something like PXF.  Other properties may need to be set so either make this a comma delimited li

[2019-04-03 20:55] pivotalguru opened #130 "Add isolation level to JDBC Server configuration file"
Databases like DB2 and SQL Server use locking to provide read consistency so long running queries can block other sessions from updating a table.  To prevent this, many users of these databases will use dirty reads to prevent blocking locks.  This is achieved in JDBC by setting the transaction isolation level to read uncommitted.

Example:
[code]
So add property to JDBC server configuration file s

[2019-04-04 02:04] clxy commented on #127
Thank you for answering.

Just for the record, we use those data for exclusion.. ^_^
And, Would you please notice me after downloading.

https://1drv.ms/u/s!AjkmV3h-y3E2j1FCb-ZZhuAgb2bx
password: pxf

Table DDL on Athena
[code]

Thanks again.

[2019-04-04 02:16] frankgh commented on #127
Thank you for sharing the information. I have access to the file. Thanks again.

I will get back to you soon.

[2019-04-04 02:24] frankgh commented on #127
@clxy feel free to remove access to the file now

[2019-04-04 02:27] clxy commented on #127
Removed!
Thanks!

[2019-04-05 06:51] clxy commented on #127
I tried a different way, and make it worked by changing the profile of s3:SequenceFile:
[code]

and change the sql to
[code]

As you can see, changing the WritableResolver to StringPassResolver do the trick.

Since we have hundreds of tables, the data-schema definitions drive us crazy.
(Still can't understand the necessity of data-schema on s3:sequence)
So, we probably go this way. I think.

Anywa

[2019-04-08 04:40] frankgh commented on #127
Hi @clxy,

I finally got a chance to play with your sample data over the weekend. The solution you gave seems reasonable. However, I would recommend creating your own profile in `$PXF_CONF/conf/pxf-profiles.xml`. Also, you no longer need a custom `DATA-SCHEMA` when using your custom profile.

[code]

And then using the SQL you provided:

[code]
**Note that you do NOT need to provide `DATA-SCHEMA`.

[2019-04-08 09:30] timofreenet commented on #97
@frankgh nay news about the support of Hive 3.x within PXF?

[2019-04-09 01:33] clxy commented on #127
@frankgh
Thank you for answering.

My question is solved, thank you very much.
(Feel free to close this issue. Although, The WritableResolver class still need to fix on this use case, I think.)

Yes. our tables(= files on S3) are all different, and have different schamas.

[2019-04-09 04:56] frankgh commented on #127
@clxy thanks, we'll take a look into it.

[2019-04-09 04:56] #127 closed

[2019-04-19 09:28] clxy opened #139 "ERROR: invalid byte sequence for encoding "UTF8""
Version: 5.1.6

We got an error when accessing a text file on S3.

DETAIL:  External table my_table, line 1 of pxf://my_bucket/my_file?PROFILE=s3:text&SERVER=s3ssp&COMPRESSION_TYPE=BLOCK: "2019-04-02 20:43:29	0000	0000	0000	https://url	domain.com			https://url	https://url?param1=z:\MS_Att..."
SQL state: 22021

And we tracked down the data row(tab separated),

It seems that those backslashes caused

[2019-04-19 14:10] frankgh commented on #139
@clxy Can you try disabling escaping?
[code]

[2019-04-19 15:00] frankgh opened #140 "using pxf jdbc writable table insert to db2 lose data"
Referenced from GPDB issues: https://github.com/greenplum-db/gpdb/issues/7510

when using pxf and db2 jdbc driver to load millions of data to db2 , mostly the data lost silently，occasionally report following error
2019-04-12 10:17:31.0603 ERROR tomcat-http--17 org.greenplum.pxf.service.rest.WritableResource - Exception: totalWritten so far 59728 to /DB2TMDB.TP_ENTERPRISE/1553735636-0000097227_0
12

[2019-04-19 15:32] frankgh commented on #97
@vraghavan78 can you follow up with this issue.

[2019-04-19 18:02] #129 closed

[2019-04-22 01:16] clxy commented on #139
@frankgh

Problem solved!

Sorry for so newbie question,
And Thank you for answering.

[2019-04-22 01:16] #139 closed

[2019-04-22 03:52] frankgh commented on #139
@clxy I'm glad my suggestion worked out. Feel free to reach out even for small questions!

[2019-04-26 06:53] frankgh commented on #130
This will be released in PXF version 5.3.0

[2019-04-26 06:53] #130 closed

[2019-06-06 04:40] sree80 opened #181 "Greenplum PXF EXTERNAL READABLE TABLE using pre-defined query"
As per the example listed for aggregation query, I did exactly the same -
MYSQL :-

use demodb;
create table dept(
    id int(4) not null primary key,
    name varchar(20) not null
);

create table emp(
    dept_id int(4) not null,
    name varchar(20) not null,
    salary int(8)
);

Some data is inserted into MySQL tables:

insert into dept values(1, 'sales');
insert into dept values(2, 'finance'

[2019-06-06 04:54] frankgh commented on #181
@sree80 please modify your `$PXF_CONF/servers/mydb/report.sql` file with the following:
[code]
Please note that I removed the semicolon at the end of the query. We will take this feedback and will create a bug.

[2019-06-06 05:00] sree80 commented on #181
I try it without the semicolon and got the same error. Thank you.

[2019-06-06 05:45] frankgh commented on #181
@sree80 I was able to get it to work. In my case I used the `mysql` database, and I removed the db name from the table names:
[code]
I hope this helps

[2019-06-06 05:46] frankgh commented on #181
In a multinode cluster, you will have to run `pxf cluster sync`

[2019-06-06 06:07] sree80 commented on #181
Same Error , even after removing the db name from the table names.
It looks like it is complaining somewhere around this line - right syntax to use near ':report' at line 1

ERROR:  remote component error (500) from '127.0.0.1:5888':  type  Exception report   message   You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use n

[2019-06-06 06:08] sree80 commented on #181
I am using MYSQL 5.1 and JDBC 5.1

[2019-06-06 06:14] denalex commented on #181
I assume you're using the latest code, correct ? You can turn on TRACE level logging and see the exact SQL statement being sent to MySQL via JDBC in `pxf-service.log` file.

It looks like maybe if your code is old, the named query feature is not available and `query:report` is being used as a table name ?

[2019-06-06 06:15] frankgh commented on #181
@sree80 what version of Greenplum are you using? Named query feature was introduced in Greenplum 5.19, make sure you are using Greenplum 5.19 and PXF version 5.4.0

    PXF version 5.4.0

[2019-06-06 06:18] sree80 commented on #181
PostgreSQL 9.4.20
Greenplum Database 6.0.0-beta.3
PXF version 5.3.2

[2019-06-06 06:29] sree80 commented on #181
If i have to upgrade PXF Version to 5.4.0. From where Can I find this Version.

[2019-06-06 06:34] denalex commented on #181
You can get it with Pivotal GPDB 5.19 distribution or build from the open source, but it will not be officially supported by Pivotal with GPDB 6 (beta) until after it ships with the next beta release of Pivotal GPDB 6.

[2019-06-06 06:35] sree80 commented on #181
thanks so much.

[2019-06-06 19:13] frankgh commented on #181
Thanks for reporting this issue. We added a fix for semicolon. In your case, the query was not working because you are on PXF version 5.3.2 that does not support Named Queries

[2019-06-06 19:13] #181 closed

[2019-06-06 22:04] lavjain commented on #181
PXF 5.4.0 is also available at https://github.com/greenplum-db/pxf/releases/tag/5.4.0

[2019-06-06 22:05] sree80 opened #184 "pxfwritable_export - ERROR: failed sending to remote component"
Here is the steps on what I did.

1) Create a new database pgtest
template1=# CREATE DATABASE pgtest;
CREATE DATABASE
template1=# \c pgtest

2) connect to pgtest database and create a new table and insert one row.
pgtest=# CREATE TABLE public.test (id integer);
CREATE TABLE
pgtest=# INSERT INTO public.test values (1);
INSERT 0 1

3) connect to template1 database
pgtest=# \c template1
template1=# C

[2019-06-11 06:37] frankgh commented on #184
@sree80 we believe this is related to the postgres driver (42.2.5) that we are using. Can you install the latest postgres driver in `$PXF_CONF/lib`? After that you will need to run a `pxf cluster sync` (on multinode setup) and `pxf cluster restart`.

[2019-06-11 06:38] frankgh commented on #184
Please see related PR: https://github.com/greenplum-db/pxf/pull/183

[2019-06-11 19:09] frankgh commented on #184
@sree80 closing for now since we have a fix for it. Let me know if you still run into issues with the new driver.

[2019-06-11 19:09] #184 closed

[2019-06-11 21:59] sree80 opened #185 "GreenPlum 5.11 PXF Issue"
https://gpdb.docs.pivotal.io/5110/pxf/client_instcfg.html

I followed the instruction set in this page, but some of the instructions are very unclear.

I used the Cloudera distributions for hadoop and pretty much followed the instruction documented in this page.

but when I  initialize PXF, it throws me the below error
ERROR: Can not determine Hadoop distribution, please install Hadoop clients.

N

[2019-06-12 21:28] frankgh commented on #185
Please refer to this page: https://gpdb.docs.pivotal.io/5110/pxf/client_instcfg.html
Under the `Using a Custom Client Installation` section. Let us know if that helps

[2019-07-03 14:43] frankgh commented on #185
Closing this for now.

[2019-07-03 14:43] #185 closed

[2019-07-10 07:43] whirlys opened #200 "PXF JDBC select ERROR while the column name it happens to be a keywords"
I want to load some data from mysql to greenplum using PXF, and I did these:

in mysql:
[code]

in greenplum:
[code]

and query data in psql:
[code]

then get ERROR:
[code]

I guess that it was cause by the column "group" and "user", They happen to be the keywords of MySQL.

I used '', "", "``", but it does not take effect.

env:
- PXF version: 5.6.0
- Greenplum version: 5.18
- MySQL connector: my

[2019-07-10 12:58] frankgh commented on #200
@whirlys you can force quotes on the external system, by adding `&QUOTE_COLUMNS=true', for this special cases as specified in the [documentation](https://gpdb.docs.pivotal.io/5200/pxf/jdbc_pxf.html):
[code]

Please let me know if this helps

[2019-07-10 16:22] frankgh commented on #200
I just realized that the `QUOTE_COLUMNS` feature is supported starting in Greenplum version: 5.19, but if you are running on PXF version 5.6.0 `QUOTE_COLUMNS` should be available for you.

[2019-07-11 01:30] whirlys commented on #200
@frankgh Thank you very much, it worked, solved my problem.

[2019-07-11 14:47] frankgh commented on #200
great! closing this issue then. Thank you

[2019-07-11 14:47] #200 closed

[2019-08-23 03:16] pengzhanyuan opened #223 "PXF can't running on gpdb6.0.beta7"
when i use command "pxf cluster start" to startup the pxf service,the tomcat is up and the PXF is down.The error likes this:
1. java.lang.NoSuchMethodException: org.apache.catalina.deploy.WebXml setSessionConfig
2. java.lang.NoSuchMethodException: org.apache.catalina.deploy.WebXml addServlet
more detail error on ​attached file.
​
Environment:
OS: CentOS 6.10
Kernel:​3.18.140-11.el6.x86_64
DB serve

[2019-08-23 03:17] pengzhanyuan commented on #223
[catalina.txt](https://github.com/greenplum-db/pxf/files/3532705/catalina.txt)

[2019-08-23 03:45] frankgh commented on #223
@pengzhanyuan can you verify you have the following:
`$PXF_HOME/apache-tomcat`
`$PXF_HOME/pxf-service/lib/catalina.jar`

Can you also share your `$PXF_HOME/pxf-service/webapps/pxf/WEB-INF/web.xml` file?
Thank you,

[2019-08-23 08:50] pengzhanyuan commented on #223
[web.xml.txt](https://github.com/greenplum-db/pxf/files/3533628/web.xml.txt)
This is my $PXF_HOME/pxf-service/webapps/pxf/WEB-INF/web.xml file

[2019-08-23 13:10] pengzhanyuan commented on #223
[operating:install_pxf.md.txt](https://github.com/greenplum-db/pxf/files/3534589/operating.install_pxf.md.txt)

These are all my operating of  pxf serveice initialization

[2019-08-23 13:28] pengzhanyuan commented on #223
`
$ ll $PXF_HOME/apache-tomcat
total 116
drwxr-xr-x 2 gpadmin gpadmin  4096 Aug 21 15:28 bin
drwxr-xr-x 2 gpadmin gpadmin  4096 Aug 21 15:28 conf
drwxr-xr-x 2 gpadmin gpadmin  4096 Aug 21 15:28 lib
-rw-r--r-- 1 gpadmin gpadmin 56812 Aug 15 02:32 LICENSE
drwxr-xr-x 2 gpadmin gpadmin  4096 Aug 15 02:32 logs
-rw-r--r-- 1 gpadmin gpadmin  1192 Aug 15 02:32 NOTICE
-rw-r--r-- 1 gpadmin gpadmin  8965 Aug

[2019-08-26 05:39] #223 closed

[2019-08-26 13:49] frankgh commented on #223
@pengzhanyuan I wanted to make sure you were able to fix the issue? We tried reproducing internally, but were unable to reproduce.

[2019-09-12 23:20] anki-code opened #239 "gpdb + pxf + pool + jdbc + mongo = not authorized for query"
Hi guys!
I'm trying to use Greenplum 6 with PXF 5.8.2 to querying collections in MongoDB 3.4.2 over JDBC driver (for example from UnityJDBC package). In a nutshell when I switch `jdbc.pool.enabled` to `false` in the properties everything works fine but if I switch it to `true` I've got flashing error `not authorized for query` from MongoDB when I try to get the data.

More details:
1. I've setted

[2019-09-13 07:17] frankgh commented on #239
@denalex any ideas what could be happening?

[2019-09-13 21:41] anki-code commented on #239
Also I've faced with similar but more distinct problem:

1. Create a big collection in mongo:
[code]
2. Try to run query and cancel it without waiting the result:
[code]

So simple cancelling of the query made external table crashed. And it unrelated with pool enabling.

[2019-09-13 22:05] denalex commented on #239
Not sure what might be wrong there with Mongo, we have not specifically tested Mongo connectivity. With the pool, we have connection idle timeout at 30sec by default, not sure if you spread the queries and those within 30secs from each other use a good connection while maybe the later one tries to establish a new connection and fails ? Maybe you can enable debug output on Mongo JDBC driver and see

[2019-09-14 11:17] anki-code commented on #239
@denalex thank you for response! If you have some time to help me I can give you docker-compose which includes gpdb+pxf+jdbc and mongo to testing.

I'll try.

I've got `ClientAbortException` in logs on simple use case:

1. First of all I uncomment the line in `pxf/conf/pxf-log4j.properties` (am I right?):
[code]
2. Next I create the external table (mongo_testdb2 has `jdbc.pool.enabled=false`):
[co

[2019-09-14 13:24] anki-code commented on #239
@denalex @frankgh I've made experiments and I think the problem in the pooling (may be caching).

Look:
1. I have two servers:
* `pxf/servers/mongo_ud` (URL: `mongo://10.0.0.4:27017/ud`)
* `mongo_act` (URL: `mongo://10.0.0.4:27017/act`)

Config in `jdbc-site.xml` are identical (exclude db in url) and with `jdbc.pool.enabled=true`.

2. When I select the data from the first server all next queries t

[2019-09-14 18:19] anki-code commented on #239
@denalex @frankgh  New info. I've tested different jdbc driver and discovered that jdbc config was identified by server name and make collisions. So if I create two configs like `mongo://10.0.0.4:27017/ud` and `mongo://10.0.0.4:27017/act` the connection identifier becomes `10.0.0.4` for both and probably this may be around the cause why configurations are intersected.

In this jdbc driver I've mad

[2019-09-14 23:02] anki-code commented on #239
@denalex @frankgh I confirmed my hypothesis and fix the issue for my first JDBC driver.

1. I've add fake hosts to `/etc/hosts`:
[code]

2. Than I replace `10.0.0.4` to fake hosts in `jdbc-site.xml`'s:
[code]
[code]

3. I've set `jdbc.pool.enabled=true`

As result the errors was gone 🎉

[2019-09-14 23:18] denalex commented on #239
@anki-code -- 2 things here:

1. The `ClientAbortException` that you see in the logs is due to the fact that you have `LIMIT 1` in your SQL query. You can see in the logs that a fragment has 2800-3000 records, but once the first batch it given to GPDB, it takes 1 row and cancels the request (since it does not need more), which kills the postgres backend process connected to PXF and PXF reports `Cl

[2019-09-14 23:28] anki-code commented on #239
@denalex thank you for response!

My concern after experiments:
1. GPDB hasn't method to pass database name to CREATE EXTERNAL TABLE
2. And other users who want to use many databases on one server would create many configs for PXF: one per database
3. And they will faced with this not trivial issue. It's really hard to understand that problem in hostname

If you think it's ok feel free to close th

[2019-09-15 00:07] denalex commented on #239
You can actually pass the database location by passing the whole JDBC URL as a parameter:
`LOCATION ('pxf://Activities?PROFILE=JDBC&SERVER=mongo_act&JDBC_URL=jdbc:mongo://10.0.0.4:27017/ud')` even though we do not encourage this style.

That is the idea, as different databases might require different settings, but you should be able to overcome this with specifying the URL containing the database

[2019-09-15 01:50] frankgh commented on #239
@anki-code maybe if you could share your docker compose, then it'd make it easier for us to standup an environment to test the mongodb driver

[2019-09-15 13:36] anki-code commented on #239
@denalex
1-2. Thank you for new info! It's undocumented option. Good to know dirty to use ;)
3. Great! Please tell me back the result of your check. It's really interesting.
4. I'm not so experienced with pxf to know what pxf has under the hood and give your advice. From my point of view it will be a good to have a setting to choose identifier type: host or host+database.

@frankgh  @denalex I've

[2019-09-15 14:54] frankgh commented on #239
@anki-code thanks! but I am not able to access the repo, I received the email invitation, but I am seeing a not found error.

[2019-09-15 15:37] anki-code commented on #239
@frankgh oh, sorry I've renamed the repo and I supposed github will redirect right way ) I've send you invites again. Please check it out :)

[2019-09-16 12:45] whirlys opened #240 "PXF read Hive transactional table Error"
When I set a Hive ORC table to `TBLPROPERTIES ('transactional'='true')`，it will report an exception.

### environment
- greenplum: 5.21
- Hive: HDP 3.1

### step
note: the sample data is the data on the official document, http://docs.greenplum.org/5190/pxf/hive_pxf.html#hive_orc

- step1: create HIVE ORC table (transactional)
[code]

- step2: load data from sales_info to sales_info_ORC
[code]

- s

[2019-09-16 17:44] denalex commented on #240
PXF does NOT yet support Hive3, which is included in HDP3. I wonder, though, does it work when you do not specify `TBLPROPERTIES ('transactional'='true')` in the Hive table definition ?

[2019-09-16 19:45] anki-code commented on #239
I see @frankgh accepted the invite but @denalex no. Should I resend the one?

[2019-09-17 01:10] whirlys commented on #240
@denalex Yes, it work in other case. Thanks

[2019-09-21 01:14] #240 closed

[2019-09-25 16:16] frankgh commented on #97
Hive 3 support added in https://github.com/greenplum-db/pxf/pull/230 and certified in https://github.com/greenplum-db/pxf/pull/235. Support for Hive 3 in PXF version 5.9.0

[2019-10-02 14:21] frankgh commented on #140
closing for now until we get additional details

[2019-10-02 14:21] #140 closed

[2019-10-03 14:19] ururu-fy commented on #97
Hello.
I have compiled last master. But I still have a problem with hive external table.

SQL Error [XX000]: ERROR: remote component error (500) from '127.0.0.1:5888':  Type  Exception Report   Message  javax.servlet.ServletException: java.io.IOException: Not a file: hdfs://DevDataLake3NNHA/warehouse/tablespace/managed/hive/sales_info/delta_0000001_0000001_0000   Description  The server encountere

[2019-10-03 14:36] frankgh commented on #97
@ururu-fy can you provide the Hive table DDL and the Greenplum table DDL?

Thank you

[2019-10-04 08:11] ururu-fy commented on #97
Sure.
Hive table ddl
[code]

Greenplum table ddl
[code]

[2019-10-04 22:20] denalex commented on #97
@ururu-fy -- PXF does not support ACID (transactional) tables `TBLPROPERTIES ('transactional'='true')` in Hive 3 via `Hive` profile due to the fact that the HDFS storage layout for these tables is more complex, includes `delta` directories (source of the problem here) and requires special readers. You still should be able to access these tables via JDBC profile with Hive JDBC driver.

@timofreenet

[2019-10-05 15:07] ururu-fy commented on #97
I understood, thank you for explain. Ok.
Can I use transactional table with hive orc format?
I created hive orc format table and I didn't have  error "IOException: Not a file".  But when I have queried an external table  I haven't had data.
For example:
hive ddl
[code]

hive table data
an           101         4875
Rome    Mar       87           1557.39
Bangalore           May       317         89

[2019-10-06 14:02] anki-code opened #245 "Querying external database thru JDBC without presave"
Hi! Thank you for PXF! It helps!

According [Greenplum JDBC PXF manual](https://gpdb.docs.pivotal.io/6-0/pxf/jdbc_pxf.html) there is ability to create presaved queries and call it via `pxf://query:<query_name>`.

But I need to use the external database with different types of queries. In short I need change query to the external database every time. And I can't use pushdown SQL syntax for it (like

[2019-10-07 03:24] denalex commented on #97
@ururu-fy -- I don't think Hive ORC will work either, according to http://shzhangji.com/blog/2019/06/10/understanding-hive-acid-transactional-table/ as it will likely also create `delta` directories.

In your example you did not get an error or any result because the Fragmenter did not find any data for your table. How did you insert the data into the Hive table ? What is the current layout of you

[2019-10-07 23:12] denalex commented on #245
@anki-code -- PXF is not currently designed to allow custom SQL queries to be sent via JDBC connector, mostly due to security pre-cautions.

But PXF has some flexibility to set session level parameters as well as parameters specific to each user. Maybe you can describe in more details why you want custom SQL and we can see if the problem can be solved with the current functionality.

[2019-10-08 05:43] anki-code commented on #245
@denalex  I need to querying the data from the neo4j graph database in gpdb. Neo4j has query language called Cypher a bit similar as SQL and can return the data as rows and columns.

The best for me (and I think for everyone who want to querying external databases) is the ability to send any query to jdbc connector and get the result.

It allows to create usecases like `SELECT db_neo('<query to ne

[2019-10-08 14:16] ururu-fy commented on #97
There was a problem in the transactional table. With  non transactional  everything work fine. Thank you.

[2019-10-08 23:33] denalex commented on #97
In summary:
- PXF Hive profile can be used to read only from non-transactional tables in Hive3
- by default in HDP 3.1 distribution, any managed non-temporary table in Hive3 becomes transactional
- to make sure managed tables do not become transactional by default, set the following properties for your Hive installation's `hive-site.xml` :
[code]
- when creating tables in Hive, do not specify tran

[2019-10-08 23:33] #97 closed

[2019-11-02 02:26] sydt2014 opened #258 "pxf+hive+kerberos error"
When pxf connect hive， it occur：
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
        at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
        at java.lang.Thread.run(Thread.java:748)
2019-11-01 20:09:36.0129 WARN tomcat-http--6 hive.metastore - set_ugi() not successful, Likely cause: new client talking to old serve

[2019-11-02 02:31] sydt2014 commented on #258
bug and repair

[2019-11-02 02:31] #258 closed

[2019-11-02 02:31] sydt2014 commented on #258
sd

[2019-11-02 11:22] sydt2014 opened #259 "pxf cant not read hadoop federation config"

[2019-11-02 11:23] sydt2014 commented on #259
2019-11-02 19:02:01.0642 INFO localhost-startStop-1 org.greenplum.pxf.service.utilities.Log4jConfigure - Initialized logging: log4jConfigLocation = /home/ansible/pxf6/conf/conf/pxf-log4j.properties
2019-11-02 19:02:01.0642 INFO localhost-startStop-1 javax.servlet.ServletContextListener - PXF server webapp initialized
2019-11-02 19:02:01.0647 INFO localhost-startStop-1 org.greenplum.pxf.service.uti

[2019-11-02 11:25] #259 closed

[2019-11-07 08:02] koxt opened #262 "Should set parameter kernel.sem when running Single cluster inside a docker container"
I had error when initializing gpdb
[code]

So I passed kernel param kernel.sem using `--sysctl`
Value was taken from
https://gpdb.docs.pivotal.io/6-1/install_guide/prep_os.html

[code]

[2019-11-07 08:12] anki-code commented on #245
The month passed since I answered. Could you please tell about your thoughts. Is this feature could appear or it's out of pxf concepts? May be any technical problems exist? From my point PXF in Greenplum is the door to the outside world and JDBC is the common simplest way to go thru. If it's wrong please tell me.

[2019-11-09 00:24] lavjain commented on #262
Thanks @koxt

Here are some kernel params that I have been using on my macbook when running greenplum database. The values may be different based on the environment/hardware:
[code]

[2019-11-11 01:44] frankgh commented on #245
@anki-code this feature is in our radar, but we don't have a definite timeline to implement it. We'll update this thread once we have the feature ready.

[2019-11-14 15:00] koxt commented on #262
@lavjain thx

Do you need PR
to section Development With Docker
https://github.com/greenplum-db/pxf/blob/master/README.md
with listed kernel params
or they are just optional?

[2019-11-19 03:43] zwkno1 opened #264 "SnappyCompressor has not been loaded!"
PXF version 5.9.2

this is my extenal table:
postgres=# \d dmp_mi_read1
External table "test_table"
  Column   |  Type  | Modifiers
-----------+--------+-----------
 zid       | text   |
 mark      | text   |
 timestamp | bigint |
 ip        | bigint |
Type: readable
Encoding: SQL_ASCII
Format type: custom
Format options: formatter 'pxfwritable_import'
External options: {}
External location: pxf:/

[2019-11-21 07:24] #264 closed

[2019-11-21 14:42] frankgh commented on #264
@zwkno1 apologies for the late reply. Were you able to find a solution? If so, can you share the solution here?

[2019-11-22 01:07] zwkno1 commented on #264
yeah,i solve it. i find pxf use hadoop-2.9.2 and downloaded hadoop-2.9.2.tar.gz and add lib/native into LD_LIBRARY_PATH.

[2019-12-03 07:38] wynn3 opened #275 "is support hadoop3 erasure coding policies"
my hadoop cluster version is 3.1.0 ,when a path not open erasure coding policies ,the EXTERNAL table read normal ,when open the erasure coding policies read failed. so pxf not support this or need configure.

[2019-12-03 16:14] frankgh commented on #275
@wynn3 which policy are you using?

[2019-12-27 08:21] mapan1984 opened #282 "can't write data to hdfs by pxf external table: ERROR: failed sending to remote component - org.greenplum.pxf.service.rest.WritableResource - wrote 0 bulks to"
### Greenplum version or build

I build gpdb from 6.1.0 source code.

    postgres=# select version();
                                                                                              version
    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2019-12-27 12:48] frankgh commented on #282
can you also post your most recent catalina.out and localhost.2019-12-27.log ?

[2019-12-27 14:37] mapan1984 commented on #282
[catalina.out.TXT](https://github.com/greenplum-db/pxf/files/4005558/catalina.out.TXT)
[pxf-service.log](https://github.com/greenplum-db/pxf/files/4005562/pxf-service.log)

here is full log, `localhost.2019-12-27.log` file is empty

[2019-12-27 14:57] frankgh commented on #282
thanks @mapan1984 . What is your hadoop version ?

[2019-12-27 15:04] mapan1984 commented on #282
hadoop version is
[code]

[2019-12-29 12:31] frankgh commented on #282
@mapan1984 since you seem to have 2 segment host, can you post the log files for the other segment host. Since you are writing a single record, it is possible that the segment host where you obtained the log did not write the record. Can you please re-run the query and provide the latest log entries for both segment hosts?

[2019-12-30 03:31] mapan1984 commented on #282
I cleared the pxf log file and restarted pxf. Then I re-run the following query:

    postgres=# CREATE EXTERNAL TABLE pxf_hdfs_textsimple1(location text, month text, num_orders int, total_sales float8)
    LOCATION ('pxf://data/pxf_examples/pxf_hdfs_simple.txt?PROFILE=hdfs:text')
    FORMAT 'TEXT' (delimiter=E',');
    CREATE EXTERNAL TABLE
    postgres=# select * from pxf_hdfs_textsimple1;

[2019-12-30 12:19] mapan1984 commented on #282
Hi, I added [some debug logs](https://github.com/mapan1984/pxf/commit/6586c59dd4b59cc024be4e5ef9232ac616501c5d) in the pxf code and found some abnormal behavior when I re-run query.

This [function](https://github.com/mapan1984/pxf/blob/6586c59dd4b59cc024be4e5ef9232ac616501c5d/server/pxf-service/src/main/java/org/greenplum/pxf/service/rest/WritableResource.java#L123-L126) is called when `http://nn

[2020-01-01 13:12] frankgh commented on #275
We don't have enough information to keep investigating. Closing the issue for now. Please feel free to reopen it with additional information

[2020-01-01 13:12] #275 closed

[2020-01-01 13:13] frankgh commented on #262
@koxt they are optional parameters. Always feel free to open a PR if you feel it is relevant! :)

[2020-01-01 13:13] #262 closed

[2020-01-02 03:46] wynn3 opened #284 "Can't read data from hdfs when the erasure coding policy is specified"
### Greenplum version or build

I install gpdb from 6.2.1 rpm.

[code]

### pxf version

[code]

### OS version and uname -a

[code]

### Installation information ( pg_config )

[code]

### hadoop vresion

`hadoop-3.1.0`

### Expected behavior

Reading HDFS text data by pxf external table.

### Actual behavior

I can reading HDFS data by pxf external table when the erasure coding policy is unspeci

[2020-01-14 08:27] fuhao009 opened #289 "com.google.protobuf.ServiceException: org.apache.hadoop.hbase.exceptions.ConnectionClosingException: Call to node1/192.168.18.1:46049 failed on local"
gp6.2.1 through pxf import hbase data to
environment：
hadoop-2.6.5.
hbase-1.2.7
error message:
Jan 14, 2020 4:05:56 PM com.sun.jersey.spi.container.ContainerResponse mapMappableContainerException
SEVERE: The exception contained within MappableContainerException could not be mapped to a response, re-throwing to the HTTP container
org.apache.hadoop.hbase.MasterNotRunningException: com.google.protobu

[2020-01-14 10:00] yydzero commented on #289
@vraghavan78  Would be great if you could take a look at this? Thanks!

[2020-01-14 12:08] frankgh commented on #289
@fuhao009 can you confirm that you have performed the prerequisite steps mentioned here:

https://gpdb.docs.pivotal.io/6-2/pxf/hbase_pxf.html

[2020-01-14 14:02] frankgh commented on #289
@fuhao009 also, can you provide DDL for your external table in Greenplum and definition for your HBase table?

[2020-01-14 18:56] denalex commented on #289
Is HBase master running on node1/192.168.18.1 ? Any errors in Hbase master log ?

[2020-01-15 09:14] fuhao009 commented on #289
no,Hbase belongs to a separate node，ddl：
create 'order_info', 'product', 'shipping_info'

put 'order_info', '1', 'product:name', 'tennis racquet'
put 'order_info', '1', 'product:location', 'out of stock'
put 'order_info', '1', 'shipping_info:state', 'CA'
put 'order_info', '1', 'shipping_info:zipcode', '12345'
put 'order_info', '2', 'product:name', 'soccer ball'
put 'order_info', '2', 'product:loca

[2020-01-15 23:07] denalex commented on #289
It seems from the logs that HBase client tries to connect to that node: `Call to node1/192.168.18.1:46049 failed on local exception`. Can you please provide the content of your `hbase-site.xml` file from the PXF server configuration directory ?

[2020-01-16 05:16] fuhao009 commented on #289
[gpadmin@mdw default]$ cat hbase.xml
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>hbase.rootdir</name>
        <value>hdfs://node1:9000/hbase</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value>node1</value>
    </property>
</configuration>
[gpadmin@mdw default]$

[2020-01-16 05:17] fuhao009 commented on #289
[gpadmin@mdw default]$ cat /etc/hosts
127.0.0.1	localhost	localhost.localdomain	localhost4	localhost4.localdomain4
::1	localhost	localhost.localdomain	localhost6	localhost6.localdomain6
192.168.18.50	sdw1
192.168.18.51	sdw2
192.168.18.49	mdw
192.168.18.1 node1

[2020-01-16 05:18] fuhao009 commented on #289
[gpadmin@mdw default]$ cat hbase.xml
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>hbase.rootdir</name>
        <value>hdfs://node1:9000/hbase</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value>node1</value>
    </property>
</configuration>
[gpadmin@mdw default]$

[2020-01-16 05:18] fuhao009 commented on #289
<configuration>
    <property>
        <name>hbase.rootdir</name>
        <value>hdfs://node1:9000/hbase</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value>node1</value>
    </property>

[2020-01-16 05:19] fuhao009 commented on #289
<property>
        <name>hbase.rootdir</name>
        <value>hdfs://node1:9000/hbase</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value>node1</value>
    </property>

[2020-01-16 07:09] fuhao009 commented on #289
greenplum6.2.1 or greenplum6.3
Does hbase need to be installed on every segment node?

[2020-01-16 14:03] frankgh commented on #289
@fuhao009 HBase does not need to be installed on the greenplum cluster. can you make sure your `/etc/hosts` for every segment host has the node1 entry. Is the IP address `192.168.18.1` where your HBase master is running?

[2020-01-19 08:22] fuhao009 commented on #289
I want to implement greenplum external table access hive, hive external table access es, is that feasible?
greenplum:6.2.1 -> hive:1.2.2 -> es:6.5.4
es:6.5.4
hive:1.2.2
PUT test01
{
  "settings": {
    "number_of_shards": 5
    , "number_of_replicas": 1
  }
}

PUT test01/_doc/_mapping
{
  "properties": {
    "id":{
      "type": "keyword"
    },
    "name":{
      "type": "keyword"
    }
  }
}
CRE

[2020-01-19 08:59] fuhao009 commented on #289
@yydzero hi？

[2020-01-28 11:41] hlinnaka opened #291 "Need help to compile"
Hi!

I tried to compile PXF on my debian system, but couldn't figure it out. I installed the required dependencies - I think - with:
[code]
I already had a OpenJDK installed.

I cloned the repository with:
[code]
Then I tried to build it with `make`, but it errored out:
[code]
What am I missing?

[2020-01-28 11:56] frankgh commented on #291
Hi @hlinnaka ,

You will also need to export your `GOPATH` and add `go/bin` to your PATH, i.e.:

[code]

Make sure you also export your JAVA_HOME, for example:

[code]

Please let me know if this helps

[2020-01-28 14:20] hlinnaka commented on #291
This did the trick:
[code]
It ran for a few minutes, downloading what seemed like half of the Internet as dependencies :-), and and finally errored out with this:
[code]

[2020-01-28 14:27] frankgh commented on #291
@hlinnaka can you try using JAVA 8 to compile?

[2020-01-28 15:23] hlinnaka commented on #291
Looking a bit closer, they were just trivial warnings turned errors, because we were using some deprecated functions. I replaced them with the idioms recommended in the javadocs, see PR https://github.com/greenplum-db/pxf/pull/292.

With those changes, I managed to build it. Hooray! :-)

[2020-01-28 15:51] frankgh commented on #291
Thanks for the PR, @hlinnaka . Feel free to close this issue. I also updated the README with more detailed documentation.

[2020-01-28 18:10] #291 closed

[2020-02-03 02:24] yydzero commented on #289
@fuhao009 could you please help to answer @frankgh 's question, think it is more valuable to solve this issue.  It is possible to add ES, while that is another question.

[2020-02-03 13:00] frankgh commented on #282
@mapan1984 were you able to fix this issue? Can you try reinstalling the PXF extension?

[2020-02-14 07:51] m7onov opened #303 "Some tests failed while building"
There are 2 tests that fail: [failed-tests.zip](https://github.com/greenplum-db/pxf/files/4203336/failed-tests.zip)

[2020-02-27 10:02] kapustor opened #307 "ESCAPE 'OFF' is not processed correctly on PXF side"
GP 6.4, PXF 5.10.1.
We can create a valid external table with ESCAPE 'OFF' clause:
[code]
The table is created successfully, but while selecting we got the following error:
[code]
It seems that PXF should process ESCAPE 'OFF' correctly and ignore all escape symbols.

[2020-02-27 15:23] frankgh commented on #303
hi @m7onov , can you provide your JDK information. Are you building master?

[2020-02-27 17:01] oliverralbertini commented on #307
Thanks for the report, @kapustor . Could you also add some example data that causes this error?

[2020-02-27 18:13] frankgh commented on #282
@mapan1984 closing for now, feel free to reopen if you face the issue again

[2020-02-27 18:13] #282 closed

[2020-02-27 19:35] kapustor commented on #307
Hi @oliverralbertini, the error occurs earlier than PXF gets any data, even without connected HDFS. Just deploy any GP cluster, install and run PXF and create external table.

[2020-02-28 20:44] #307 closed

[2020-02-28 21:18] frankgh commented on #289
@fuhao009 were you able to fix this issue?

[2020-03-10 16:29] frankgh commented on #289
@fuhao009 we are closing this issue for now. Feel free to reopen if you still face the same issue

[2020-03-10 16:29] #289 closed

[2020-03-10 16:29] frankgh commented on #303
@m7onov is this still an issue?

[2020-03-13 06:29] m7onov commented on #303
Hello. Sorry for dealy
[code]

[2020-03-13 12:56] frankgh commented on #303
Currently Java 11 is not supported for tests. This is from our README:

[2020-03-14 06:55] m7onov commented on #303
I missed that in the README, sorry. Thanks for the clarification

[2020-03-16 10:00] #239 closed

[2020-03-20 06:06] #303 closed

[2020-03-26 11:09] zxbing commented on #282
Do you fix the problem ? I've met same problem, PXF version is 5.10.1 @mapan1984

[2020-03-27 12:32] eralper commented on #259
Hello @sydt2014 ,
Could you solve this issue? What was the problem? I have a similar case...

[2020-03-28 16:29] oliverralbertini commented on #259
Looks like there was something wrong with the XML in `$PXF_CONF/conf/servers/default/core-site.xml`. If this is the error you are seeing, you probably need to fix an issue with your XML.

[2020-03-30 15:15] frankgh commented on #282
@mapan1984 @zxbing please let us know if you are still facing this issue

[2020-03-31 03:51] mapan1984 commented on #282
I rebuild gpdb and pxf in centos 7, and never encountered this problem again

[2020-03-31 14:01] frankgh commented on #282
@zxbing can you try mapan's suggestion?

[2020-04-02 15:29] frankgh opened #328 "PXF: Error while reading timestamp column from Hive parquet file"
https://groups.google.com/a/greenplum.org/forum/?utm_medium=email&utm_source=footer#!msg/gpdb-users/iYNLT7_FSeM/c3XdFKesBAAJ

From the open source channel:

[code]

[2020-04-02 15:29] frankgh opened #329 "PXF - Partitioned Hive table with different number of columns in underlying parquet files"
https://groups.google.com/a/greenplum.org/forum/?utm_medium=email&utm_source=footer#!msg/gpdb-users/VXov5JU0xG4/sjc8j4ufBgAJ

From the open source channel:

[2020-04-06 20:49] frankgh commented on #328
Solved by #332

[2020-04-06 20:49] #328 closed

[2020-04-07 13:43] yvaa opened #335 "Named query and MongoDB"
Hello!
We successfully using PXF with MongoDB. Thank you!

Now we've faced with new type of queries: we need to execute the query in MongoDB and get the result. Ordinary select queries using external table is not working for us because PXF is not supported "ORDER BY" and "LIMIT" for external database. We can't do:
[code]
and get the result of:
[code]

We've found "[Named Queries](https://gpdb.docs

[2020-04-08 20:47] denalex commented on #335
Hy @yvaa , thank you for using PXF and we're glad you got it working with MongoDB. Will try to help you with your question here.

1. Why are you saying you cannot do
`SELECT * FROM ext_table_some_collection WHERE field > 10 ORDER BY field LIMIT 10` ? In the case of JDBC profile, it will do predicate pushdown, so PXF will retrieve all rows where `filed > 10` and give them to the GPDB, where they al

[2020-04-09 08:02] yvaa commented on #335
Hello @denalex !

SELECT * FROM ext_table_some_collection WHERE field > 10 ORDER BY field LIMIT 10 ? In the case of JDBC profile,

You're right about what PXF do and I see this in MongoDB queries log. But we expect/need different behavior. In short terms it could be described as "do in MongoDB exactly what described by SQL query and get the result". It means that step 2 and 3 (I've added numbers t

[2020-04-10 00:21] denalex commented on #335
Can you please provide the following:
1. Full content of your `jdbc-site.xml` file
2. Name and version of the Mongo JDBC driver you're using
3. MongoDB version
4. Script to create / populate a MongoDB collection

We will try to reproduce the issue you're facing.

[2020-04-10 10:05] yvaa commented on #335
https://github.com/yvaa/pxf-mongodb/blob/master/jdbc-site.xml

https://github.com/yvaa/pxf-mongodb/blob/master/unityjdbc_mongo.jar

https://github.com/yvaa/pxf-mongodb/blob/master/README.md

[2020-04-27 23:55] poas187 opened #349 "Invalid DELIMITER character"
Following instructions here to install PXF in docker: https://github.com/greenplum-db/pxf/blob/master/README.md
Docker image base:  pivotaldata/gpdb-pxf-dev:centos6
PXF version: 5.10.0

I use psql to run the following:

                       List of databases
        Name        |  Owner  | Encoding |  Access privileges
--------------------+---------+----------+---------------------
 contrib_regr

[2020-04-28 01:54] frankgh commented on #349
@poas187 you are using a Greenplum version that is incompatible with PXF Version 5.10.0. To solve this issue, please upgrade your PXF to [version 5.11.2](https://github.com/greenplum-db/pxf/releases/tag/5.11.2). The specific incompatibility is due to PR #316.

[2020-04-28 02:35] poas187 commented on #349
I started over using this time version "5.11.2" for pxf, and "5x_STABLE" for gpdb and it worked.
Thanks for your help.

[2020-04-28 03:14] #349 closed

[2020-04-28 13:36] frankgh commented on #349
great news @poas187 !

[2020-04-29 17:10] frankgh commented on #282
Some context on this issue, the cURL version that ships with CentOS 6 (7.19) is incompatible with PXF. The minimum cURL version required for PXF is 7.29

[2020-05-02 00:34] #329 closed

[2020-05-03 10:26] yydzero opened #352 "make test failed due to java.lang.IllegalAccessError error"
[code]

[2020-05-03 11:17] frankgh commented on #352
@yydzero currently, compilation of PXF is only supported on Java 8. However, for the runtime, Java 11 is also supported. Do you need java 13 support?

[2020-05-03 11:42] yydzero commented on #352
Thanks @frankgh for your quick response. I brew install java on mac, and it is version 13 by default.

I guess java is backward compatible, any reason why it will not work on 13?

[2020-05-03 12:00] frankgh commented on #352
It will most likely run in Java 13, we just haven't certified it yet. To be able to run PXF tests however, you will need Java 8, because we have some Java 8-specific dependencies for testing. We are working to remove that limitation

[2020-05-03 14:36] #352 closed

[2020-05-20 10:34] akotuc opened #362 "PXF Hive: filtering does not work if partition column is string data type"
Hello,
it seems filtering based on partition column in PXF Hive profile is not correctly applied in case the partition column is string type - tested on several cases in the same environment and partition filtering always works for partition columns of _integer_ types however does not work if partition column is _string_ type.

PXF version: 5.12.0
GPDB version: 6.7.1

How tested - created two iden

[2020-05-26 10:38] akotuc commented on #362
Closing, cause by external table definition - partition column has to be TEXT data type (VARCHAR does not work!).

[2020-05-26 10:38] #362 closed

[2020-06-01 12:00] frankgh opened #364 "PXF mysql schema wrapped by backquote "`" ERROR: remote component error (400) from '127.0.0.1:5888': HTTP status code is 400 but HTTP response string is empty (libchurl.c:935)"
### Greenplum version or build
6.7.1
### OS version and uname -a
[code]

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior
return correct query result, like other mysql table, no backquote wrapped.

### Actual behavior
[code]

### Step to reproduce the behavior
mysql:
[code]

greenplum:
[code]

PXF segment DEBUG2 log:
[code]

[2020-06-01 12:00] frankgh commented on #364
From: https://github.com/greenplum-db/gpdb/issues/10211

[2020-06-01 14:57] frankgh commented on #364
This is fixed by https://github.com/greenplum-db/pxf/pull/358

[2020-06-01 14:57] #364 closed

[2020-06-04 09:12] yvaa commented on #335
Hello @denalex!

Did you have time to try?

[2020-06-08 03:18] LittleWuCoding opened #373 "Poor performance quering large HDFS data with PXF"
Problem summary:
The performance of Greenplum PXF is very poor whether it reads the data on HDFS directly or accesses the data on HDFS through hive. The format of the stored data is parquet, it's actual data size is 1.2T, and the data size stored in HDFS is about 350G. Based on the TPCH test scenario, the execution time of Q1 is around 1680 seconds, and other SQL is over 1000 seconds. During the t

[2020-06-14 00:13] yydzero commented on #373
@LittleWuCoding Thanks for reporting. @vraghavan78 @frankgh would you kindly please help on this? Thanks!

[2020-06-16 14:44] frankgh commented on #335
Hi @yvaa, I was actually able to reproduce the issue, but we still haven't found the root cause. I will try to spend sometime looking into this issue next week. Apologies for the delay in resolving this issue

[2020-06-19 16:11] oliverralbertini commented on #373
Hi @yydzero, thanks for the detailed report and questions. I'll do my best to answer your questions about PXF and how it interacts with HDFS.

The metadata that PXF needs from NameNode is the location of files on HDFS so that the data can then be split across segments on GPDB. When accessing metadata through Hive, PXF relies on a Hive table definition to determine which HDFS files to access. Perfo

[2020-07-09 11:30] anjingde opened #409 "pxf_fdw hive:orc is not defined in pxf-profiles.xml;;"
CREATE FOREIGN TABLE hive_rc
      SERVER hive_hdp
      OPTIONS ( resource 'dbname.table_name', format 'orc' );

hive:orc is not defined in pxf-profiles.xml;
how to deal with this problem?

[2020-07-10 06:57] LittleWuCoding commented on #373
@oliverralbertini @yydzero
Thanks for your kindly help.
I had tried testing hive table with data partitioned, and found that really works, PXF did read less data from Hive.
But our data is not partitioned and it is not possible to change it to partitioned table, and partitioned table also can not help for query's filter conditions without partitioned column.
So, the critical problem is the same pe

[2020-07-12 12:08] frankgh commented on #373
@LittleWuCoding as an alternative to run queries against Hive, you can use the JDBC profile to issue queries against the external system. There is native JDBC support for querying Hive in PXF (meaning that you don't need to install additional drivers). Here is the documentation:  https://gpdb.docs.pivotal.io/5270/pxf/jdbc_pxf.html

[2020-07-13 08:48] LittleWuCoding commented on #373
@frankgh  hello, I have tried the JDBC profile to issue the query, but found worse performance than PXF external table.
And I found many limitation on  JDBC profile, for example, for complex querys including aggregate functions and joins , I have to use named query which is not easy and convenient.
Besides，could you give me more advice about query data on hive or hdfs？

[2020-07-13 18:48] frankgh commented on #373
@LittleWuCoding have you tried querying the same hive data using the `hdfs:parquet` format. I believe the Hive profile accessing parquet files does not perform predicate pushdown. The downside for using the `hdfs:parquet` format is that you need to know the path for you hive table, but once you obtain that piece of information can you try using `hdfs:parquet`. The `hdfs:parquet` format uses both p

[2020-07-14 01:18] LittleWuCoding commented on #373
@frankgh We have aready tried ```hdfs:parquet```  compared with ```hive:parquet```. We found that the performance  of ```hdfs:parquet```  are slightly better than hive, but also very slow. For example, a simple query likes below:
[code]
which table a about 200k row and table b 200 million row and the final resultset of the query is 9 row:
```hive:parquet```:   500s
```hdfs:parquet```:   400s
but w

[2020-07-14 01:25] frankgh commented on #373
Interesting, is presto installed on the Greenplum cluster, or where does presto live?

If PXF is installed closer to the hadoop cluster (as opposed to the Greenplum cluster), we can reduce the data transfer between PXF and Greenplum. It'd be interesting to understand what are the differences between your presto installation and PXF installation.

[2020-07-14 02:03] LittleWuCoding commented on #373
@frankgh Thanks for your quick reply.
In my env, the presto, GP, PXF and Hadoop are installed in the same cluster as the figure on the top of this issue.

[2020-07-14 02:20] frankgh commented on #373
@LittleWuCoding looking at your query I realize that you are doing a join. PXF does not support join pushdown (yet), but we are working on adding performance features for PXF. The first feature we want to get out is support for ANALYZE, so joins like the one above will benefit from table statistics. We will be rolling out these performance features closer to the end of the year, it's an area that

[2020-07-14 03:12] frankgh commented on #373
Out of curiosity, can you share the explain plan for the query above, and which table has 200k rows and which table has 200M rows?

[2020-07-14 09:49] ururu-fy commented on #284
Have you any news? Can PXF work with hdfs erasure coding?

[2020-07-15 13:24] frankgh commented on #284
It is a longer term goal for us to support erasure coding, but this is on our radar and we'll hopefully get to in the next couple of quarters.

[2020-08-18 18:12] frankgh commented on #409
@anjingde hive is not supported in FDW yet, we are working to support all connectors in FDW shortly.

[2020-08-24 15:30] ryonchen opened #428 "insert char into inner table from pxf"
I link to MySQL through PXF and write it to the GP internal table. There is a field of char type. For example:
`
inner tabel:
CREATE EXTERNAL TABLE inner_schema.tb(
id                   bigint       ,
name char(5));

EXTERNAL  tabel:
CREATE EXTERNAL TABLE ext_schema.tb(
id                   bigint       ,
name char(5))
LOCATION ('pxf://tb?PROFILE=Jdbc&SERVER=jdbc_mysql&QUOTE_COLUMNS=true')

[2020-08-24 17:17] frankgh commented on #428
@ryonchen Greenplum will pad `char(n)` types to the number of `n` digits. I just tried this locally. PXF ships a single character to Greenplum, but Greenplum adds padding in the result set.

If you don't want the padding, use the `varchar` type instead on the Greenplum side, for example:

[code]

[2020-09-18 00:44] timeobserver opened #452 "insert into pxf_table select * from db2_table"
I use pxf pull data from db2 to greenplum,
greenplum version is 5.14 ,
db2 version is v11.1,
pxf version is 4.0.3;

when the db2 column type is int or bigint and the column is null in the db2 table , after execute insert into pxf_table select * from db2_table, data which is null automatically converted to 0 .

wish your help ,thanks!

[2020-09-18 00:48] timeobserver commented on #452
i don't know whether the latest greenplum and pxf version also has  this issue ,  or how can i avert this question.

[2020-09-19 15:25] frankgh commented on #452
@timeobserver this issue has been fixed in newer versions of PXF (Fixed in #108). The fixed issue is: `assign null to oneField.val if result.wasNull(), otherwise use the value`. It corresponds to this line in the code: https://github.com/greenplum-db/pxf/blob/master/server/pxf-jdbc/src/main/java/org/greenplum/pxf/plugins/jdbc/JdbcResolver.java#L132.

The fix is only available in version 5.1.0 of P

[2020-09-19 15:25] #452 closed

[2020-09-19 15:28] frankgh commented on #452
By the way, I tested this in the latest version of PXF and I can confirm that the issue is fixed:

**DB2**
[code]

**Greenplum**
[code]

[2020-09-19 15:31] frankgh commented on #428
@ryonchen is this still an issue? can we close it?

[2020-09-19 15:32] frankgh commented on #452
maybe this output is better:
[code]

[2020-09-20 10:48] frankgh commented on #428
closing for now. Hopefully the workaround provided works

[2020-09-20 10:48] #428 closed

[2020-10-13 15:04] apiminov opened #459 "PXF fails to write Avro data in case of NULL values in SMALLINT or BYTEA columns."
**Steps to reproduce:**

For SMALLINT:
[code]
For BYTEA:
[code]

**Cause:**

NullPointerException when trying to convert null to primitives:
[code]

[2020-10-19 13:50] #459 closed

[2020-11-25 18:23] dsjoegeo opened #508 "ERROR: failed sending to remote component data movement between vertica and Greenplum"
Hi,

when we are trying to push data we are getting error. some times data will get inserted and at some times we will face this issue.
we are trying topush 500 Million records some times it will not fail and some times it will fail. please find query and sample error below.

Query: INSERT INTO external_table1 select * from Table2 limit 500000000

Error: This same appears in he pxf logs on all seg

[2020-12-01 11:33] frankgh commented on #508
It looks like vertica is rejecting some rows, and the transaction will fail as a consequence. Maybe check in the vertica logs to see what rows are being rejected.

[2020-12-15 10:49] liuyiffan opened #517 "unit test error when make install"
$ java -version
openjdk version "1.8.0_272"
OpenJDK Runtime Environment (build 1.8.0_272-b10)
OpenJDK 64-Bit Server VM (build 25.272-b10, mixed mode)

$ make -C ~/pxf install
\> Task :pxf-api:test

org.greenplum.pxf.api.security.SecureLoginTest > testPrincipalGetsResolvedForServer() FAILED
    org.opentest4j.AssertionFailedError at SecureLoginTest.java:389

org.greenplum.pxf.api.security.SecureLog

[2020-12-15 14:22] frankgh commented on #517
Hi @liuyiffan,

Can you share the commit `sha` for PXF? Also, what OS are you using? Any additional information you can share to debug the issue?
Thanks,

[2021-01-01 12:45] frankgh commented on #517
Closing for now, feel free to reopen with additional information to debug the issue.

[2021-01-01 12:45] #517 closed

[2021-01-07 02:54] vicigel opened #520 "pxf support read multi files"
Does pxf support wildcard pattern to load data from s3 storage(or s3 like)?
when I use methods below, all encountered error.
1. LOCATION ('pxf://BUCKET_NAME/dirname/?PROFILE=s3:text&COMPRESSION_CODEC=gzip')
FORMAT 'TEXT' (delimiter=E',');

2. LOCATION ('pxf://BUCKET_NAME/dirname/*?PROFILE=s3:text&COMPRESSION_CODEC=gzip')
FORMAT 'TEXT' (delimiter=E',');

3. LOCATION ('pxf://BUCKET_NAME/dirname/*.gz

[2021-01-07 13:52] frankgh commented on #520
@vicigel yes, PXF supports wildcards. What is the error you are getting? Can you share your log files from your `$PXF_CONF/logs/` directory? Also, what version of PXF are you using? Which S3 storage are you accessing?

[2021-01-08 03:11] vicigel commented on #520
# pxf version:

[gpadmin@HOSTNAME ~]$ /usr/local/greenplum-db/pxf/bin/pxf version
PXF version 5.15.1

# minio-site.xml

[gpadmin@HOSTNAME ~]$ cat pxf/servers/default/minio-site.xml
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>fs.s3a.endpoint</name>
        <value>MY_ENDPOINT</value>
    </property>
    <property>
        <name>fs.s3a.access.key</name>

[2021-01-08 16:04] frankgh commented on #520
Hi @vicigel , I'm trying to reproduce the issue. However I am not able to reproduce the issue. Can you try the following:

1. Look in the minio logs for any clues when running the query.
2. Can you confirm the server name for your minio server? Was it configured under the `default` server?
3. Are there any other files under your server configuration directory?
4. Can you confirm the minio server v

[2021-01-09 02:10] vicigel commented on #520
@frankgh
2. the server is default server.
ll /home/gpadmin/pxf/servers/default/
total 4
-rw-r--r-- 1 gpadmin gpadmin 641 Jan  6 15:22 minio-site.xml
3. no other files under the default server.
4. the s3 service is my company's self developed, compitable with s3 protocol, when using s3-site.xml, it does not provide the configuration of endpoint, but minio-site.xml does, so I use minio-site.xml, how

[2021-01-09 16:43] frankgh commented on #520
@vicigel is there anything in the logs of your S3 service? Maybe try to correlate queries with log entries in your companies S3 service for some clues

[2021-01-11 02:35] vicigel commented on #520
@frankgh ok, I will ask for help of related colleagues, thanks

[2021-02-16 13:45] vikramnshinde opened #550 "Does GreenPlum with PXF support avro data with schema evolution"
We have `user` data (avro files) validated and ingested into HDFS using Schema Registry(data keep on evolving) and using GreenPlum with PXF to access HDFS data. Created one external table and trying to query the HDFS data but getting error as,

[code]
`user` HDFS files are ingested using different schema versions, and GreenPlum external table has been crated with fields from all the schema version

[2021-02-17 14:27] frankgh commented on #550
@vikramnshinde schema evolution in Avro is not supported, we'll be looking into supporting schema evolution for Avro

[2021-02-17 15:02] vikramnshinde commented on #550
thanks @frankgh for the information, and really appreciate you help!

[2021-03-17 19:10] sutera opened #596 "PXF when loading unescaped regex"
I am having an issue in PXF 5.16.0 on Greenplum version 6.14.0 where if I try to load a column's data with an un-escaped regex that the column will break into a new line at the characters `\.`. Minimal reproducible example

[code]

[code]
The first and third row should load while the second breaks into a new column at each occurrence of "\."

Ideally I'd like to keep the regex un-escaped because w

[2021-03-18 06:04] denalex commented on #596
@sutera -- the issue you're seeing is due to the fact that PXF is using Greenplum COPY code on the C side to parse the data when format TEXT is specified and for that format `\.` sequence has a special meaning. When this sequence is on a separate line by itself, it signifies the end of data stream. In your file it is in the middle of the line and hence Greenplum fails with the `"end-of-copy marker

[2021-03-18 14:57] #596 closed

[2021-03-18 14:57] sutera commented on #596
thank you for the response. That is good to know - we will adjust the way we load such data.

[2021-04-27 21:06] inviscid opened #622 "Does PXF have plans to support Apache Carbondata format"
The carbondata format appears to have some advantages over Parquet for query efficiency at the expense of data size.  Are there plans to support this format?

[2021-04-29 17:19] vraghavan78 commented on #622
Not as of now, we are open for collaboration.

[2021-05-19 01:11] se7enshidb opened #637 "pxf cluster init Segmentation fault"
[gpadmin@sdw3 ~]$ pxf cluster init
Segmentation fault
[gpadmin@sdw3 ~]$ pxf version
PXF version 5.15.1

how to do fix this problem, anything else do i need to supply. thx

[2021-05-27 19:00] bradfordb-vmware commented on #637
What version of PXF are using? Which Linux version are you running GPDB/PXF on? Can you configure your system to generate a core dump on segfaults and share the backtrace from that core dump?

[2021-07-05 17:06] frankgh commented on #637
@se7enshidb this issue seems to happen when your `PXF_HOME` and `PXF_CONF` are the same directory. Make sure your `PXF_CONF` lives outside `PXF_HOME`. For example, if `PXF_HOME` is `/usr/local/pxf-gp6/` then `PXF_CONF` has to live outside this directory.

[2021-07-23 21:45] felipemartim opened #674 "Error while parsing headers of CSV files stored in a NFS from external table"
Hi guys,

I stumbled upon a very strange behaviour while trying to query compressed CSV data stored on a Network File System from an external table using profile file:text or file:csv.

The thing is, if I have more files in the directory than the number of segments in my database, it will stop skipping the header of the CSV files, and will eventually try to parse it as if it was a data row.

Ex.:

[2021-07-26 22:52] bradfordb-vmware commented on #674
I suspect that your external table includes the CSV `HEADER` option, e.g.

[code]

PXF currently doesn't look at this option. What you can do is use the PXF option [`SKIP_HEADER_COUNT`](https://gpdb.docs.pivotal.io/pxf/6-1/using/hdfs_text.html#profile_text) which allows you to specify the number of header lines that PXF should skip in the first split of each file before reading the data. The updat

[2021-07-27 00:38] felipemartim commented on #674
Thanks @bradfordb-vmware!

It didn't even cross my mind checking the HDFS documentation. The fact that it worked when I had only a few files made me think it was a bug.

I'll try this solution tomorrow and close the issue.

[2021-07-30 15:06] felipemartim commented on #674
it worked!

[2021-07-30 15:06] #674 closed

[2021-08-02 06:57] odidev opened #676 "Require image for ARM64 architecture"
Hi Team,

I am trying to use **pivotaldata/gpdb6-ubuntu18.04-test**, **pivotaldata/ubuntu-gpdb-debian-dev**,  **pivotaldata/gpdb6-ubuntu18.04-build**, **pivotaldata/gpdb6-centos6-build** and **pivotaldata/gpdb6-centos7-build** images on ARM64 architecture but it seems it is not available for arm64.

Do you have any plans on releasing arm64 images on Docker hub?

It will be very helpful if the imag

[2021-08-16 18:11] ashuka24 commented on #676
The images mentioned are now deprecated on Dockerhub and we have no plans of releasing an image for ARM64.

[2021-08-16 18:11] #676 closed

[2021-08-17 03:29] se7enshidb commented on #637
i followed you instruction, move pxf out of GP_HOME directory ,then problem is solved @frankgh

[2021-08-17 03:29] #637 closed

[2021-08-18 08:53] se7enshidb opened #683 "pxf can not read composite avro file from aws s3 and return error org.apache.avro.generic.GenericData$EnumSymbol cannot be cast to java.lang.String"
# avsc meta data
[code]

# avro data
[code]
java -jar ./avro-tools-1.9.1.jar fromjson --schema-file /tmp/avro_schema.avsc /tmp/pxf_avro.txt > /tmp/pxf_avro.avro

# convert
java -jar ./avro-tools.jar fromjson --schema-file ./avro_schema.avsc ./pxf_avro.txt > ./pxf_avro.avro

# create table
[code]
# query
[code]

[2021-09-09 07:14] #245 closed

[2021-09-17 13:33] MaxSimba opened #709 "Help Wanted ERR HikariPool-1 - Connection is not available, request timed out after 30000ms."
Good afternoon
I am using PXF 5.14
There was a problem, with a large number of rows more than a million, the query execution time exceeds 30 seconds, as a result of which the application crashes with an error

SEVERE: The exception contained within MappableContainerException could not be mapped to a response, re-throwing to the HTTP container
java.sql.SQLTransientConnectionException: HikariPool-1

[2021-12-13 09:34] kingour opened #724 "The 6.2.1-snapshot has problems"
This(https://github.com/greenplum-db/pxf/pull/723) version has problem under jdk8
My enviroment:
greenplum 6.18.2
pxf 6.2.1-SNAPSHOT
centos7.6
jdk1.8.0_201
when I run `pxf cluster start`,it hang and throw eception like this:
[code]

[2021-12-13 11:39] kingour commented on #724
That is maven mirror problems

[2021-12-13 11:39] #724 closed

[2021-12-13 12:07] akotuc opened #725 "Setting of log4j2.formatMsgNoLookups to true in PXF by default"
Hello PXF team,

Is it possible please to make sure `log4j2.formatMsgNoLookups = true` is set by default in PXF?
There has been 0-day exploid found in `log4j2` and this should mitigate the risk: https://www.lunasec.io/docs/blog/log4j-zero-day/

Not sure if I'm right however it seems that due to the version of `log4j2` used in PXF, setting via `pxf-log4j2.xml` is not possible so basically it means

[2021-12-13 22:42] denalex commented on #725
The Log4J2 CVE fix is provided in this commit: https://github.com/greenplum-db/pxf/commit/e763cb4c949bb812904f1abc52b9f0b0108076e3 by increasing log4j2 version to 2.15.0 where the vulnerability is no longer present. This fix will be released in the next PXF release.

Meanwhile, for existing PXF 6.x release, follow this mitigation procedure:
* Login to Greenplum master node
* Edit `$PXF_BASE/conf/p

[2021-12-13 22:42] #725 closed

[2021-12-14 17:09] akotuc commented on #725
Thank you!

[2022-01-14 14:25] akotuc opened #736 "Q: Support of default hive partitioning layout with gcs"
Hello PXF team,

First of all I'd like to thank you for making PXF so great product, it's really awesome!

I have a question please - is there on PXF roadmap or a plan to support partitioned data stored on Google Storage similarly to BQ external tables? Description can be found here: https://cloud.google.com/bigquery/docs/hive-partitioned-queries-gcs?
That would enable another level of usage GCS u

[2022-01-14 22:07] vraghavan78 commented on #736
Thanks @akotuc. We currently are planning on Hive 3 support, and PXF HA. Once we wrap these we can potentially spike on this and get back to you. Timeline wise, late summer.

[2022-01-19 17:29] akotuc commented on #736
Thanks for the response.
Looking forward...

[2022-01-19 19:20] DmitriiBV opened #739 "unit test error when make test or install"
PXF Version release-6.2.2 Latest
@github-actions github-actions released this 28 days ago
 release-6.2.2
 57f4d3b

gpadmin@user-VirtualBox:~/workspace/pxf$ java -version
openjdk version "1.8.0_312"
OpenJDK Runtime Environment (build 1.8.0_312-8u312-b07-0ubuntu1~18.04-b07)
OpenJDK 64-Bit Server VM (build 25.312-b07, mixed mode)

OS: Ubuntu 18.04.6 LTS (desktop)

gpadmin@user-VirtualBox:~/workspace/

[2022-01-20 17:16] #739 closed

[2022-05-05 13:44] akotuc opened #805 "PXF hive/hdfs:parquet - unwanted timestamp conversion"
Hello,
I have a parquet file on HDFS with timestamp column and Hive table.
If I query data via PXF Hive or PXF HDFS I get a different value for timestamp columns comparing to the direct hive query (some timezone shift).

PXF JVM is set to operate in UTC zone via -Duser.timezone parameter in pxf-env.sh. I can't change this setting to make sure other JDBC connections works correctly.

Question is wh

[2022-05-18 06:59] longforrich opened #807 "What's the relationship with pxf_fdw?"
I cloned the master branch of gpdb,and want to use pxf on it.
but..I got error when make

In file included from src/pxfbridge.h:25:0,
                 from src/pxfprotocol.c:21:
src/pxfuriparser.h:55:2: error: unknown type name ‘List’
  List    *options;  /* list of OptionData       */
  ^~~~
src/pxfuriparser.h:69:55: error: unknown type name ‘List’; did you mean ‘Co?t’
 void  GPHDUri_verify_core_

[2022-05-18 10:03] CodeMSC commented on #709
Could you try to use driver manager to get a connection from the oracle database Instead of jdbctemplate.getConnection()
Connection con = DriverManager.getConnection("URL", "USERNAME","PASSWORD");

[2022-05-18 10:04] CodeMSC commented on #709
Could you try to use driver manager to get a connection from the oracle database Instead of jdbctemplate.getConnection()
Connection con = DriverManager.getConnection("URL", "USERNAME","PASSWORD");

[2022-05-19 17:12] vraghavan78 commented on #807
PXF is still available on master. We are working towards full support of pxf_fdw before we release GP7

[2022-05-19 22:10] bradfordb-vmware commented on #805
Apologies for the delay in responding to this issue. We've RCA'd the issue and wanted the share our findings, including a potential work around. It is on our roadmap to fix this, but it may be a while before we get to it.

## Hive Setup

Hive DDL (**NOTE:** Hive server is in `America/Los_Angeles` time zone)

[code]

## Read the Data with Apache Spark

[code]

[code]

The timestamp has been shifted

[2022-05-30 15:36] DataPythonETL commented on #739
Доброго дня. Случайно нашел Ваше резюме на hh.ru. Я не рекрутер:) Сейчас нахожусь в похожей ситуации, хочу сменить направление работы. Подбираю курсы. Поделитесь отзывом, пожалуйста. Стоит ли оно того? Удалось сменить профессию? +79616453461 WhatsApp, Viber

[2022-07-26 10:46] kostianu opened #835 "PXF usage with Teradata JDBC FastExport utility"
Hi PXF team,

We are migrating from Teradata database on Greenplum and need to import a lot of data.
Teradata provides FastExport utility that optimise data upload process.
One of the prerequisite for its usage is "JDBC FastExport must be used with a PreparedStatement" (https://teradata-docs.s3.amazonaws.com/doc/connectivity/jdbc/reference/current/jdbcug_chapter_2.html#BGBFBBEG).

Initially, I've

[2022-07-27 02:42] roseduan opened #837 "A problem about TincTest"
Hello you guys, I have a  question about the test framework.

I am wondering how this kind of test work?
[code]

It just declares three variables and nothing else.

[2022-07-28 01:36] #837 closed

[2022-08-05 09:02] zhaoyuan2022 opened #841 "make pxf failed"
Hi,

I have an Ubuntu dev env with gpdb7 running on it. Then I  cloned the pxf code into the contrib folder under gpdb source code path. when  I was trying to build pxf, I came across these errors:

gpadmin@dev-50:~/workspace/gpdb/contrib/pxf/external-table$ make
gcc -Wall -Wmissing-prototypes -Wpointer-arith -Werror=vla -Wendif-labels -Wmissing-format-attribute -Wformat-security -fno-strict-alias

[2022-08-05 18:17] bradfordb-vmware commented on #835
I've opened #842 that adds a configuration property to have PXF use a `PreparedStatenent` when using the JDBC profile for reading. I don't have a Teradata environment to test if this enables FastExport. If your are running open-source PXF compiled from source, you should be able to build from the branch and test.

[2022-08-05 18:19] bradfordb-vmware commented on #841
There are changes in the GP7 branch that move the location of headers needed for building an external table extension (i.e., the pxf.so). For GP7, our current focus is on using the newer FDW-based extension.

[2022-08-08 02:28] zhaoyuan2022 commented on #841
I can not make pxf.so successfully,  only pxfutils.o and pxffilters.o are generated under external-tables. But when I tried to create the external table, the location depends on the pxf protocol , this results in the pxf_fdw extension unavailable .

[2022-08-08 08:27] zhaoyuan2022 commented on #841
Make successfully in gpdb6 env, and failed in gpdb7 env(only different db version), the failed message of gpdb7 env is:

'
src/pxfuriparser.c: In function ‘GPHDUri_free_options’:
src/pxfuriparser.c:27:16: error: implicit declaration of function ‘list_head’ [-Werror=implicit-function-declaration]
   27 |  for ((cell) = list_head(l); (cell) != NULL; (cell) = lnext(cell))
      |                ^~~~~

[2022-08-09 02:56] zhaoyuan2022 commented on #841
Do you have a link that I can download a pxf_fdw binary for gp7 on ubunbu?

[2022-08-09 08:52] kostianu commented on #835
Thank you @bradfordb-vmware! I'll let you know once it has been tested.

[2022-08-11 01:32] bradfordb-vmware commented on #841
We don't yet have a public build of PXF for GPDB7. Can you try running `make` inside of the `fdw` directory? That should build the PXF FDW extension against GPDB7 without error.

[2022-08-11 01:49] RadoslawKlewin opened #846 "Using a Named Query with Oracle - how exactly works"
Hello,

I have a question about usage of PXF - JDBC, namely the possibility of limiting the data that is read on the source side.
Going into details, there are two places in the documentation which describe the rule/command of how the attributes work ("query:<query_name>"):
1) [VMware-Tanzu-Greenplum-Platform-Extension-Framework/6.3/tanzu-greenplum-platform-extension-framework/GUID-jdbc_pxf.html#a

[2022-08-11 03:02] zhaoyuan2022 commented on #841
Thank you for the reply.  I can build pxf_fdw and install it successfully.
But when I tried to create external table with:
`
CREATE EXTERNAL TABLE pxf_read_test (a TEXT, b TEXT, c TEXT)
LOCATION ('pxf://localhost:5888/tmp/dummy1'
'?FRAGMENTER=org.greenplum.pxf.api.examples.DemoFragmenter'
'&ACCESSOR=org.greenplum.pxf.api.examples.DemoAccessor'
'&RESOLVER=org.greenplum.pxf.api.examples.DemoTextReso

[2022-08-15 22:47] bradfordb-vmware commented on #846
Yes. While the section is an example for Postgres, the logic is the same for all JDBC drivers.

PXF does not support passing parameters into the named query. If you need to change the query (for example to change a predicate in a WHERE clause), then you will need to edit the file containing the named query and re-sync PXF's configuration. If a `WHERE` clause is dynamic, it is better to not encode

[2022-08-15 22:49] bradfordb-vmware commented on #841
The PXF FDW extension supports creating foreign tables, not external tables. Take a look at [PXF_FDW.md](https://github.com/greenplum-db/pxf/blob/master/fdw/PXF_FDW.md) for examples of creating PXF foreign tables.

[2022-08-17 14:44] kostianu commented on #835
@bradfordb-vmware your changes made PXF work with FastExport. Thank you!

[2022-08-17 14:44] #835 closed

[2022-08-17 17:31] bradfordb-vmware commented on #835
Awesome! If possible, would you mind sharing the configuration changes you had to make to enable this? We'd like to add an example page to the official documentation.

[2022-08-17 22:02] kostianu commented on #835
@bradfordb-vmware, sure
1) added Teradata JDBC jar-file into /lib/pxf/lib  folder

2) made new folder in Greenplum:
`mkdir /var/lib/pxf/servers/teradatajdbc`

3) added jdbc-site.xml including the following properties into **teradatajdbc** folder

[code]

5) created external table with the following config

`LOCATION ('pxf://HR.Employees?PROFILE=Jdbc&SERVER=teradatajdbc')
FORMAT 'CUSTOM' (FORMATTER

[2022-08-19 06:44] #841 closed

[2022-08-31 14:37] i-amikron opened #855 "Allow IN operators in JDBC plugin"
Hello!

As we see in SQLQueryBuilder.java, "IN" predicate [is commented](https://github.com/arenadata/pxf/blob/pxf-5.x/server/pxf-jdbc/src/main/java/org/greenplum/pxf/plugins/jdbc/SQLQueryBuilder.java#L64).

Can we uncomment this row and allow PXF to push down IN predicate into the source system?
And if we can't, what's the reason of this limitation?

Thanks!

[2022-10-17 08:01] i-amikron commented on #855
Hi! Can we expect any information on this issue?

[2022-10-18 21:50] ashuka24 commented on #855
Hi!

We are not aware of any reasons why the "IN" predicate is commented out. However, we'd prefer to not uncomment it and release it without proper testing as a missing optimization is preferable to incorrect results.

That being said, we currently do not have plans to work on this due to other priorities. If you would like to work on this, we always welcome a PR with appropriate test coverage.

[2022-11-15 13:02] Maaciekk opened #898 "Error unexpected end of file"
Hi,

we have a problem with one table in oracle, we fetch records like this:
[code]
next step:
[code]
And after ~15 minutes we get the WARNING:
[code]
And then CREATE TEMPORARY TABLE completes fine, but we get 6,352,000 out of 6,733,669 records.

[code]

We see such errors in the PXF logs:
[code]

[2022-11-15 23:25] hpandeycodeit commented on #898
Hello @Maaciekk,

Thanks for logging the issue! We need some more information to further look into the issue:

Did the table creation completed after 15 minutes or it took longer?

Are you able to reproduce this issue? If yes, can you try these steps to see if the query runs successfully?

  1. Enable the DEBUG mode as per the docs [here](https://gpdb.docs.pivotal.io/6-2/pxf/troubleshooting_pxf.ht

[2022-11-21 15:11] Maaciekk commented on #898
we will try to collect the required information